@model PC_Builder.ViewModels.ContactDetailsViewModel

<div class="sectionName">
    <p>Контактные данные</p>
</div>

<div>
    <table class="profiletable">
        <tr>
            <td class="profile">
                <p class="profiledata">Имя</p>
            </td>
            <td class="profile">
                <p class="profiledata">@Model.Name</p>
            </td>
        </tr>
        <tr>
            <td class="profile">
                <p class="profiledata">Фамилия</p>
            </td>
            <td class="profile">
                <p class="profiledata">@Model.Surname</p>
            </td>
        </tr>
        <tr>
            <td class="profile">
                <p class="profiledata">Телефон</p>
            </td>
            <td class="profile">
                <p class="profiledata">@Model.PhoneNumber</p>
            </td>
        </tr>
        <tr>
            <td class="profile">
                <p class="profiledata">Страна</p>
            </td>
            <td class="profile">
                <p class="profiledata">@Model.Country</p>
            </td>
        </tr>
        <tr>
            <td class="profile">
                <p class="profiledata">Регион</p>
            </td>
            <td class="profile">
                <p class="profiledata">@Model.Region</p>
            </td>
        </tr>
        <tr>
            <td class="profile">
                <p class="profiledata">Город</p>
            </td>
            <td class="profile">
                <p class="profiledata">@Model.City</p>
            </td>
        </tr>
        <tr>
            <td class="profile">
                <p class="profiledata">Адрес</p>
            </td>
            <td class="profile">
                <p class="profiledata">@Model.Address</p>
            </td>
        </tr>
        <tr>
            <td class="profile">
                <p class="profiledata">Индекс</p>
            </td>
            <td class="profile">
                <p class="profiledata">@Model.Postcode</p>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <form asp-controller="Account" asp-action="ShowFormEditContactDetails">
                    <input type="hidden" name="name" value="@Model.Name" />
                    <input type="hidden" name="surname" value="@Model.Surname" />
                    <input type="hidden" name="phoneNumber" value="@Model.PhoneNumber" />
                    <input type="hidden" name="country" value="@Model.Country" />
                    <input type="hidden" name="region" value="@Model.Region" />
                    <input type="hidden" name="city" value="@Model.City" />
                    <input type="hidden" name="address" value="@Model.Address" />
                    <input type="hidden" name="postcode" value="@Model.Postcode" />

                    <input type="submit" value="Редактировать" />
                </form>
            </td>
            <td>
                <form asp-controller="Order" asp-action="Order">
                    <input type="submit" value="Подтвердить" />
                </form>
            </td>
        </tr>
    </table>
</div>