@model PC_Builder.ViewModels.ConfiguratorViewModel

<div class="container">
    <table>
        @foreach (var item in Model.CPUs)
        {
            <tr>
                <td>
                    <p>@item.Name @item.Price руб.</p>
                </td>
                <td>
                    <form asp-controller="Configurator" asp-action="AddBasket" asp-route-name="@item.Name" asp-route-price="@item.Price">
                        <input type="submit" value="Добавить в корзину" />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table>
        @foreach (var item in Model.Coolings)
        {
            <tr>
                <td>
                    <p>@item.Name @item.Price руб.</p>
                </td>
                <td>
                    <form asp-controller="Configurator" asp-action="AddBasket" asp-route-name="@item.Name" asp-route-price="@item.Price">
                        <input type="submit" value="Добавить в корзину" />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table>
        @foreach (var item in Model.Motherboards)
        {
            <tr>
                <td>
                    <p>@item.Name @item.Price руб.</p>
                </td>
                <td>
                    <form asp-controller="Configurator" asp-action="AddBasket" asp-route-name="@item.Name" asp-route-price="@item.Price">
                        <input type="submit" value="Добавить в корзину" />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table>
        @foreach (var item in Model.RAMs)
        {
            <tr>
                <td>
                    <p>@item.Name @item.Price руб.</p>
                </td>
                <td>
                    <form asp-controller="Configurator" asp-action="AddBasket" asp-route-name="@item.Name" asp-route-price="@item.Price">
                        <input type="submit" value="Добавить в корзину" />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table>
        @foreach (var item in Model.GPUs)
        {
            <tr>
                <td>
                    <p>@item.Name @item.Price руб.</p>
                </td>
                <td>
                    <form asp-controller="Configurator" asp-action="AddBasket" asp-route-name="@item.Name" asp-route-price="@item.Price">
                        <input type="submit" value="Добавить в корзину" />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table>
        @foreach (var item in Model.DataStorages)
        {
            <tr>
                <td>
                    <p>@item.Name @item.Price руб.</p>
                </td>
                <td>
                    <form asp-controller="Configurator" asp-action="AddBasket" asp-route-name="@item.Name" asp-route-price="@item.Price">
                        <input type="submit" value="Добавить в корзину" />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table>
        @foreach (var item in Model.Cases)
        {
            <tr>
                <td>
                    <p>@item.Name @item.Price руб.</p>
                </td>
                <td>
                    <form asp-controller="Configurator" asp-action="AddBasket" asp-route-name="@item.Name" asp-route-price="@item.Price">
                        <input type="submit" value="Добавить в корзину" />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table>
        @foreach (var item in Model.PowerSupplies)
        {
            <tr>
                <td>
                    <p>@item.Name @item.Price руб.</p>
                </td>
                <td>
                    <form asp-controller="Configurator" asp-action="AddBasket" asp-route-name="@item.Name" asp-route-price="@item.Price">
                        <input type="submit" value="Добавить в корзину" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>