@model PC_Builder.ViewModels.IndexViewModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/StyleIndex.css">
        <title>PC Builder</title>
    </head>
    <body>
        <div class="sidebar">
            <a asp-controller="Home" asp-action="Index">Все товары</a> <!--return null-->
            <a asp-controller="Home" asp-action="Index" asp-route-category="cpu">Процессор</a>
            <a asp-controller="Home" asp-action="Index" asp-route-category="cooling">Охлаждение</a>
            <a asp-controller="Home" asp-action="Index" asp-route-category="motherboard">Материнская плата</a>
            <a asp-controller="Home" asp-action="Index" asp-route-category="ram">Оперативная память</a>
            <a asp-controller="Home" asp-action="Index" asp-route-category="gpu">Видеокарта</a>
        </div>

        <div class="container">
            @foreach (var item in Model.CPUs)
            {
                <p>@item.Name @item.Price руб.</p>
            }

            @foreach (var item in Model.Coolings)
            {
                <p>@item.Name @item.Price руб.</p>
            }

            @foreach (var item in Model.Motherboards)
            {
                <p>@item.Name @item.Price руб.</p>
            }

            @foreach (var item in Model.RAMs)
            {
                <p>@item.Name @item.Price руб.</p>
            }

            @foreach (var item in Model.GPUs)
            {
                <p>@item.Name @item.Price руб.</p>
            }
        </div>
    </body>
</html>