@model PC_Builder.ViewModels.PCstoreViewModel

<link rel="stylesheet" href="/css/CompletePC.css">

<div>
    <p>
        Сортировка:
        <form asp-controller="PCstore" asp-action="CompletePC">
            <select id="sortOrder">
                <option>Не выбрано</option>
                <option value="NameSortAscending">По названию &uarr; </option>
                <option value="NameSortDescending">По названию &darr; </option>
                <option value="PriceSortAscending">По возрастанию цены &uarr; </option>
                <option value="PriceSortDescending">По убыванию цены &darr; </option>
            </select>
            <input type="submit" value="Отсортировать">
        </form>
    </p>
</div>

<div class="container">
    <table class="producttable">
        @foreach (var item in Model.CPUs)
        {
            <tr>
                <td class="cellname">
                    <p class="productname">@item.Name</p>
                </td>
                <td class ="cellprice">
                    <form asp-controller="PCstore" asp-action="AddCart" asp-route-name="@item.Name">
                        <input type="hidden" name="price" value="@item.Price" />
                        <input type="hidden" name="category" value="@item.Category" />
                        <input type="submit" value="@item.Price руб." />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table class="producttable">
        @foreach (var item in Model.Coolings)
        {
            <tr>
                <td class="cellname">
                    <p class="productname">@item.Name</p>
                </td>
                <td class="cellprice">
                    <form asp-controller="PCstore" asp-action="AddCart" asp-route-name="@item.Name">
                        <input type="hidden" name="price" value="@item.Price" />
                        <input type="hidden" name="category" value="@item.Category"/>
                        <input type="submit" value="@item.Price руб." />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table class="producttable">
        @foreach (var item in Model.Motherboards)
        {
            <tr>
                <td class="cellname">
                    <p class="productname">@item.Name</p>
                </td>
                <td class="cellprice">
                    <form asp-controller="PCstore" asp-action="AddCart" asp-route-name="@item.Name">
                        <input type="hidden" name="price" value="@item.Price" />
                        <input type="hidden" name="category" value="@item.Category"/>
                        <input type="submit" value="@item.Price руб." />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table class="producttable">
        @foreach (var item in Model.RAMs)
        {
            <tr>
                <td class="cellname">
                    <p class="productname">@item.Name</p>
                </td>
                <td class="cellprice">
                    <form asp-controller="PCstore" asp-action="AddCart" asp-route-name="@item.Name">
                        <input type="hidden" name="price" value="@item.Price" />
                        <input type="hidden" name="category" value="@item.Category"/>
                        <input type="submit" value="@item.Price руб." />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table class="producttable">
        @foreach (var item in Model.GPUs)
        {
            <tr>
                <td class="cellname">
                    <p class="productname">@item.Name</p>
                </td>
                <td class="cellprice">
                    <form asp-controller="PCstore" asp-action="AddCart" asp-route-name="@item.Name">
                        <input type="hidden" name="price" value="@item.Price" />
                        <input type="hidden" name="category" value="@item.Category"/>
                        <input type="submit" value="@item.Price руб." />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table class="producttable">
        @foreach (var item in Model.DataStorages)
        {
            <tr>
                <td class="cellname">
                    <p class="productname">@item.Name</p>
                </td>
                <td class="cellprice">
                    <form asp-controller="PCstore" asp-action="AddCart" asp-route-name="@item.Name">
                        <input type="hidden" name="price" value="@item.Price" />
                        <input type="hidden" name="category" value="@item.Category"/>
                        <input type="submit" value="@item.Price руб." />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table class="producttable">
        @foreach (var item in Model.Cases)
        {
            <tr>
                <td class="cellname">
                    <p class="productname">@item.Name</p>
                </td>
                <td class="cellprice">
                    <form asp-controller="PCstore" asp-action="AddCart" asp-route-name="@item.Name">
                        <input type="hidden" name="price" value="@item.Price" />
                        <input type="hidden" name="category" value="@item.Category"/>
                        <input type="submit" value="@item.Price руб." />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table class="producttable">
        @foreach (var item in Model.PowerSupplies)
        {
            <tr>
                <td class="cellname">
                    <p class="productname">@item.Name</p>
                </td>
                <td class="cellprice">
                    <form asp-controller="PCstore" asp-action="AddCart" asp-route-name="@item.Name">
                        <input type="hidden" name="price" value="@item.Price" />
                        <input type="hidden" name="category" value="@item.Category"/>
                        <input type="submit" value="@item.Price руб." />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>

<script>
    var sortOrder = document.getElementById('sortOrder');
    sortOrder.onchange = function () {

        // задаём время, через которое наш cookie истечёт
        //var date = new Date();
        //date.setDate(date.getDate() + 7);

        // записываем cookie
        document.cookie = 'sortOrder=' + sortOrder.value;

        // вариант с временем, через которое наш cookie истечёт
        //document.cookie = 'sortOrder=' + sortOrder.value + '; path=/; expires=' + date.toUTCString();

    };
</script>