@model PC_Builder.ViewModels.PCstoreViewModel

<link rel="stylesheet" href="/css/CompletePC.css">

<div>
    <table>
        <tr>
            <td class="sort">
                <p>Сортировка:</p>
            </td>
            <td class="sort">
                <p>
                    <form asp-controller="PCstore" asp-action="CompletePC">
                        <select class ="sort" id="sortOrder">
                            <option class="sort">Не выбрано</option>
                            <option class="sort" value="NameSortAscending">По названию &uarr; </option>
                            <option class="sort" value="NameSortDescending">По названию &darr; </option>
                            <option class="sort" value="PriceSortAscending">По возрастанию цены &uarr; </option>
                            <option class="sort" value="PriceSortDescending">По убыванию цены &darr; </option>
                        </select>
                        <input class="sort" type="submit" value="Отсортировать">
                    </form>
                </p>
            </td>
        </tr>
    </table>
</div>

<div class="container">
    <table class="producttable">
        @foreach (var item in Model.CPUs)
        {
            <tr>
                <td class="cellname">
                    <p class="productname">@item.Name</p>
                </td>
                <td class ="cellprice">
                    <form asp-controller="Cart" asp-action="AddCart" asp-route-name="@item.Name">
                        <input type="hidden" name="price" value="@item.Price" />
                        <input type="hidden" name="category" value="@item.Category" />
                        <input class="addcart" type="submit" value="@item.Price руб." />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table class="producttable">
        @foreach (var item in Model.Coolings)
        {
            <tr>
                <td class="cellname">
                    <p class="productname">@item.Name</p>
                </td>
                <td class="cellprice">
                    <form asp-controller="Cart" asp-action="AddCart" asp-route-name="@item.Name">
                        <input type="hidden" name="price" value="@item.Price" />
                        <input type="hidden" name="category" value="@item.Category"/>
                        <input class="addcart" type="submit" value="@item.Price руб." />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table class="producttable">
        @foreach (var item in Model.Motherboards)
        {
            <tr>
                <td class="cellname">
                    <p class="productname">@item.Name</p>
                </td>
                <td class="cellprice">
                    <form asp-controller="Cart" asp-action="AddCart" asp-route-name="@item.Name">
                        <input type="hidden" name="price" value="@item.Price" />
                        <input type="hidden" name="category" value="@item.Category"/>
                        <input class="addcart" type="submit" value="@item.Price руб." />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table class="producttable">
        @foreach (var item in Model.RAMs)
        {
            <tr>
                <td class="cellname">
                    <p class="productname">@item.Name</p>
                </td>
                <td class="cellprice">
                    <form asp-controller="Cart" asp-action="AddCart" asp-route-name="@item.Name">
                        <input type="hidden" name="price" value="@item.Price" />
                        <input type="hidden" name="category" value="@item.Category"/>
                        <input class="addcart" type="submit" value="@item.Price руб." />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table class="producttable">
        @foreach (var item in Model.GPUs)
        {
            <tr>
                <td class="cellname">
                    <p class="productname">@item.Name</p>
                </td>
                <td class="cellprice">
                    <form asp-controller="Cart" asp-action="AddCart" asp-route-name="@item.Name">
                        <input type="hidden" name="price" value="@item.Price" />
                        <input type="hidden" name="category" value="@item.Category"/>
                        <input class="addcart" type="submit" value="@item.Price руб." />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table class="producttable">
        @foreach (var item in Model.DataStorages)
        {
            <tr>
                <td class="cellname">
                    <p class="productname">@item.Name</p>
                </td>
                <td class="cellprice">
                    <form asp-controller="Cart" asp-action="AddCart" asp-route-name="@item.Name">
                        <input type="hidden" name="price" value="@item.Price" />
                        <input type="hidden" name="category" value="@item.Category"/>
                        <input class="addcart" type="submit" value="@item.Price руб." />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table class="producttable">
        @foreach (var item in Model.Cases)
        {
            <tr>
                <td class="cellname">
                    <p class="productname">@item.Name</p>
                </td>
                <td class="cellprice">
                    <form asp-controller="Cart" asp-action="AddCart" asp-route-name="@item.Name">
                        <input type="hidden" name="price" value="@item.Price" />
                        <input type="hidden" name="category" value="@item.Category"/>
                        <input class="addcart" type="submit" value="@item.Price руб." />
                    </form>
                </td>
            </tr>
        }
    </table>

    <table class="producttable">
        @foreach (var item in Model.PowerSupplies)
        {
            <tr>
                <td class="cellname">
                    <p class="productname">@item.Name</p>
                </td>
                <td class="cellprice">
                    <form asp-controller="Cart" asp-action="AddCart" asp-route-name="@item.Name">
                        <input type="hidden" name="price" value="@item.Price" />
                        <input type="hidden" name="category" value="@item.Category"/>
                        <input class="addcart" type="submit" value="@item.Price руб." />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>

<script>
    var sortOrder = document.getElementById('sortOrder');
    sortOrder.onchange = function () {

        // задаём время, через которое наш cookie истечёт
        //var date = new Date();
        //date.setDate(date.getDate() + 7);

        // записываем cookie
        document.cookie = 'sortOrder=' + sortOrder.value;

        // вариант с временем, через которое наш cookie истечёт
        //document.cookie = 'sortOrder=' + sortOrder.value + '; path=/; expires=' + date.toUTCString();

    };
</script>