@model PC_Builder.ViewModels.CartViewModel

<link rel="stylesheet" href="/css/Cart.css">

<div>
    <table>
        <tr>
            <td class ="sort">
                <p>Сортировка:</p>
            </td>
            <td class="sort">
                <p>
                    <form asp-controller="Cart" asp-action="ShowCart">
                        <select class="sort" id="sortOrder">
                            <option class="sort">Не выбрано</option>
                            <option class="sort" value="NameSortAscending">По названию &uarr; </option>
                            <option class="sort" value="NameSortDescending">По названию &darr; </option>
                            <option class="sort" value="PriceSortDescending">По возрастанию цены &uarr; </option>
                            <option class="sort" value="PriceSortAscending">По убыванию цены &darr; </option>
                            <option class="sort" value="CategorySortAscending">По категории &uarr; </option>
                            <option class="sort" value="CategorySortDescending">По категории &darr; </option>
                            <option class="sort" value="ProductCounterSortDescending">По количеству &uarr; </option>
                            <option class="sort" value="ProductCounterSortAscending">По количеству &darr; </option>
                            <option class="sort" value="SubtotalSortDescending">По промежуточной стоимости &uarr; </option>
                            <option class="sort" value="SubtotalSortAscending">По промежуточной стоимости &darr; </option>
                        </select>
                        <input class="sort" type="submit" value="Отсортировать">
                    </form>
                </p>
            </td>
        </tr>
    </table>
</div>

<div>
    <table class ="producttable">
        @{
            int index = 1;
        }

        <tr>
            <th>
                <p>№</p>
            </th>
            <th class="thItem">
                <p>Комплектующие</p>
            </th>
            <th class="thCategory">
                <p>Категория</p>
            </th>
            <th>
                <p>Цена</p>
            </th>
            <th>
                <p>Промежуточная стоимость</p>
            </th>
            <th colspan="3">
                <p>Количество</p>
            </th>
        </tr>

        @foreach (var item in Model.Products)
        {
            <tr>
                <td class="index">
                    <p>@index</p>

                    @{
                        index++;
                    }
                </td>
                <td class ="cellname">
                    <p class="productname">@item.Name</p>
                </td>
                <td class="cellname">
                    <p class="productname">@item.Category</p>
                </td>
                <td>
                    <p class="price">@item.Price руб.</p>
                </td>
                <td>
                    <p class="subtotal">@item.Subtotal руб.</p>
                </td>
                <td>
                    <p>
                        <form asp-controller="Cart" asp-action="MinusItem" asp-route-ProductId="@item.ProductId">
                            <input type="submit" value="-" />
                        </form>
                    </p>
                </td>
                <td>
                    <p class="productCounter" >@item.ProductCounter</p>
                </td>
                <td>
                    <p>
                        <form asp-controller="Cart" asp-action="PlusItem" asp-route-ProductId="@item.ProductId">
                            <input type="submit" value="+" />
                        </form>
                    </p>
                </td>
                <td>
                    <form asp-controller="Cart" asp-action="RemoveCart" asp-route-ProductId="@item.ProductId">
                        <input class="delete" type="submit" value="Удалить" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>

<div>
    <br />
    <br />
    <table class="producttable">
        <tr>
            <td>
                <p class="totalname">Общая стоимость</p>
            </td>
            <td>
                <p class="totalprice">@Model.Total руб.</p>
            </td>
        </tr>
    </table>
</div>

<div>
    <br />
    <br />
    <table class="checkoutorder">
        <tr class="checkoutorder">
            <td class="checkoutorder">
                <a class="checkoutorder" asp-controller="Order" asp-action="Checkout" asp-route-total="@Model.Total">Оформить заказ</a>
            </td>
        </tr>
    </table>
</div>

<script src="/js/sortCookie.js"></script>