@model PC_Builder.ViewModels.ContactDetailsViewModel

<link rel="stylesheet" href="/css/ShowContactDetails.css">

<div>
    <p class="header">Контактные данные</p>
</div>

<div>
    <table class="ContactsTable">
        <tr>
            <td class="contactsDetails">
                <p class="contactsDetails">Имя</p>
            </td>
            <td class="contactsDetails">
                <p class="contactsDetails">@Model.Name</p>
            </td>
        </tr>
        <tr>
            <td class="contactsDetails">
                <p class="contactsDetails">Фамилия</p>
            </td>
            <td class="contactsDetails">
                <p class="contactsDetails">@Model.Surname</p>
            </td>
        </tr>
        <tr>
            <td class="contactsDetails">
                <p class="contactsDetails">Телефон</p>
            </td>
            <td class="contactsDetails">
                <p class="contactsDetails">@Model.PhoneNumber</p>
            </td>
        </tr>
        <tr>
            <td class="contactsDetails">
                <p class="contactsDetails">Страна</p>
            </td>
            <td class="contactsDetails">
                <p class="contactsDetails">@Model.Country</p>
            </td>
        </tr>
        <tr>
            <td class="contactsDetails">
                <p class="contactsDetails">Регион</p>
            </td>
            <td class="contactsDetails">
                <p class="contactsDetails">@Model.Region</p>
            </td>
        </tr>
        <tr>
            <td class="contactsDetails">
                <p class="contactsDetails">Город</p>
            </td>
            <td class="contactsDetails">
                <p class="contactsDetails">@Model.City</p>
            </td>
        </tr>
        <tr>
            <td class="contactsDetails">
                <p class="contactsDetails">Адрес</p>
            </td>
            <td class="contactsDetails">
                <p class="contactsDetails">@Model.Address</p>
            </td>
        </tr>
        <tr>
            <td class="contactsDetails">
                <p class="contactsDetails">Индекс</p>
            </td>
            <td class="contactsDetails">
                <p class="contactsDetails">@Model.Postcode</p>
            </td>
        </tr>
        <tr>
            <td>
                <form asp-controller="Account" asp-action="ShowFormEditContactDetails">
                    <input type="hidden" name="name" value="@Model.Name" />
                    <input type="hidden" name="surname" value="@Model.Surname" />
                    <input type="hidden" name="phoneNumber" value="@Model.PhoneNumber" />
                    <input type="hidden" name="country" value="@Model.Country" />
                    <input type="hidden" name="region" value="@Model.Region" />
                    <input type="hidden" name="city" value="@Model.City" />
                    <input type="hidden" name="address" value="@Model.Address" />
                    <input type="hidden" name="postcode" value="@Model.Postcode" />

                    <input class="editButton" type="submit" value="Редактировать" />
                </form>
            </td>
        </tr>
    </table>